SERVICE_NAME={{ service_name }}
IMAGE_TAG={{ image_tag }}
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_ROUTING_KEY={{ service_name }}.result
RABBITMQ_PUBLISH_CONFIRM=true
RABBITMQ_MANDATORY=true
LOG_LEVEL=INFO
LOGS_DIR=./logs
